# idea directories
.idea
RuizRamos_Jesus_1b/.idea
RuizRamos_Jesus_1c/.idea
RuizRamos_Jesus_2/.idea
RuizRamos_Jesus_3/.idea
RuizRamos_Jesus_4/.idea

# gitignores
RuizRamos_Jesus_1b/.gitignore
RuizRamos_Jesus_1c/.gitignore
RuizRamos_Jesus_2/.gitignore
RuizRamos_Jesus_3/.gitignore
RuizRamos_Jesus_4/.gitignore